@font-face {
    font-family: 'axiforma';
    src: url(assets/font/axiforma/Axiforma-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'kiano';
    src: url(assets/font/kiano/Kiano.ttf) format('truetype');
}